/* ~~/styles/fonts.css */

@font-face {
  font-family: 'Niramit Light';
  src: url('./niramit-light.ttf');
}

@font-face {
  font-family: 'Niramit Light Italic';
  src: url('./niramit-light-italic.ttf');
}

@font-face {
  font-family: 'Ubuntu Bold Italic';
  src: url('./ubuntu-bold-italic.ttf');
}