/* ~~/styles/lines.css */

hr {
  width: 40%;
}

.seamless {
  border: none;
}

.squiggly {
  position: absolute;
  height: 10px;
  width: 120%;
  transform: scale(0.8) translateX(-10%) translateY(-.3cm);
}

.squiggly-1 {
  background: linear-gradient(45deg, transparent, transparent 49%, black 49%, transparent 51%);
}

.squiggly-2 {
  background: linear-gradient(-45deg, transparent, transparent 49%, black 49%, transparent 51%);
}

.squiggly {
  background-size: .5cm .5cm;
}

.squiggly-vert {
  position: absolute;
  transform: scale(0.8) translateY(-65%);
  width: 10px;
}

.squiggly-vert-1 {
  background: linear-gradient(45deg, transparent, transparent 49%, black 49%, transparent 51%);
}

.squiggly-vert-2 {
  background: linear-gradient(-45deg, transparent, transparent 49%, black 49%, transparent 51%);
}

.squiggly-vert {
  background-size: .5cm .5cm;
}

.squiggly-vert.x-small {
  height: 20%;
}

.squiggly-vert.small {
  height: 24%;
}

.squiggly-vert.medium {
  height: 28%;
}

.squiggly-vert.large {
  height: 32%;
}

.squiggly-vert.x-large {
  height: 40%;
}
