/* ~~/styles/zine-page.css */

body {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
}

zine-page {
  display: block;
  position: relative;
  height: 15cm;
  min-height: 15cm;
  min-width: 10cm;
  width: 10cm;
  text-align: center;
}
zine-page.left {
  margin-right: .5cm;
}
zine-page.right {
  margin-left: .5cm;
}

zine-page:nth-of-type(3),zine-page:nth-of-type(4), 
zine-page:nth-of-type(7),zine-page:nth-of-type(8) {
  margin-bottom: 0;
  margin-top: .5cm;
}

zine-page:nth-of-type(1),zine-page:nth-of-type(2),
zine-page:nth-of-type(5),zine-page:nth-of-type(6) {
  margin-bottom: 0;
  margin-top: .5cm;
}

zine-page > page-num {
  bottom: .2cm;
  padding: 0;
  position: absolute;
}
zine-page.left > page-num {
  left: .2cm;
}
zine-page.right > page-num {
  right: .2cm;
}
