/* ~~/styles/fonts.css */

bitcoin {
  font-family: 'Ubuntu Bold Italic';
}
bitcoin:after {
  content: 'bitcoin';
}

/* default headers */

h1, h2, h3 {
  font-family: 'Mali';
  font-weight: normal;
  font-style: italic;
  padding-bottom: 0.3cm;
  line-height: 1.1;
}
h1 {
  font-size: 1.2cm;
  font-weight: 600;
  line-height: 1.2cm;
  border-bottom: 0 none transparent;
}
h2 {
  font-size: .6cm;
  line-height: .8cm;
  font-weight: 600;
  line-height: 1cm;
}
h3 {
  font-size: .5cm;
  line-height: .7cm;
  margin-left: 1cm;
  margin-right: 1cm;
}

/* default paragraphs */

* {
  font-family: 'Mali';
  font-weight: light;
}
p {
  font-size: .4cm;
  letter-spacing: -.01cm;
  line-height: .6cm;
  padding-left: 1cm;
  padding-right: 1cm;
  text-align: justify;
}

.text-small {
  font-size: .3cm;
  letter-spacing: -.008cm;
  line-height: .5cm;
}

/* thai headers */
.th h1 {
  font-size: 1.2cm;
  line-height: 1.6cm;
  border-bottom: 0 none transparent;
}
.th h2 {
  font-size: .5cm;
  line-height: .9cm;
}
.th h3 {
  font-size: .3cm;
  line-height: .6cm;
  margin-left: 1cm;
  margin-right: 1cm;
}

/* thai paragraphs */

.th p {
  font-size: .32cm;
  line-height: .56cm;
}

/* alignments */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-squeezed {
  letter-spacing: -.016cm;
}

/* special cases */

.translator-note {
  font-size: .3cm;
}
